<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Выбор нужного произовдителя</title>
</head>
<body>
<h1>Выберите  произовдителя</h1>
<form action="/redirect" method="get">
    <label>
        <input type="radio" name="service" value="CarPick1">
        Hyundai
    </label><br>
    <label>
        <input type="radio" name="service" value="CarPickKia1">
        Kia
    </label><br>
    <button type="submit">Go</button>
</form>
</body>
</html>